//-------------------- Base Colors --------------------//
$color-primary:         #202328;
$color-secondary:       #EBEBFA;
$color-grey1:           #979AA1;
$color-grey2:           #7C7C7C;
$color-tint1:           #979AA1;
$color-tint2:           #7C7C7C;
$color-white:           #FFFFFF;
$color-black:           #000000;


//-------------------- Base Size --------------------//
$size-base:             4px;


//-------------------- Borders --------------------//
$radius-base:           1rem;

//-------------------- Line Height --------------------//
$line-height-base:      1.5;
$line-height-content:   1.8;


//-------------------- Transition --------------------//
$ease-in-out-5s: 	    all .5s ease-in-out;
$ease-in-out-3s: 	    all .3s ease-in-out;
$ease-in-out-2s: 	    all .2s ease-in-out;