//-------------------- Base Colors --------------------//
$color-primary:         #202328;
$color-secondary:       #EBEBFA;
$color-grey1:           #979AA1;
$color-grey2:           #7C7C7C;
$color-tint1:           #979AA1;
$color-tint2:           #7C7C7C;
$color-white:           #FFFFFF;
$color-black:           #000000;


//-------------------- Font --------------------//
$font-base:             'Nunito Sans', sans-serif;
$font-alt:              'Roboto', sans-serif;

$font-base-light:       300;
$font-base-regular:     400;
$font-base-semibold:    600;
$font-base-bold:        700;
$font-base-black:       900;

$font-alt-light:        300;
$font-alt-regular:      400;
$font-alt-medium:       500;
$font-alt-bold:         700;
$font-alt-black:        900;

$font-content:          $font-base-regular;
$font-heading:          $font-base-black;


//-------------------- Base Size --------------------//
$size-base:             4px;


//-------------------- Borders --------------------//
$radius-base:           1rem;

//-------------------- Line Height --------------------//
$line-height-base:      1.5;
$line-height-content:   1.8;