.l-center-content {
    display: grid;
    place-items: center;
}

.l-pancake {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        flex: 0 1 220px;
        margin: 0 8px;
    }

    &__item--stretch {
        flex: 1 1 220px;
    }
}

.l-pancake-stack {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.l-ram {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.l-ratio-16x9 {
    aspect-ratio: 16 / 9;
}

.l-ratio-4x3 {
    aspect-ratio: 4 / 3;
}

.l-ratio-1x1 {
    aspect-ratio: 1 / 1;
}