.c-card {
    padding: rem($size-base * 6) rem($size-base * 6);
    border-radius: $radius-base;
    background-color: $color-white;

    &__head {
        padding-top: $size-base * 4;
        padding-bottom: $size-base * 4;
    }

    &__body {
        padding-top: $size-base * 4;
        padding-bottom: $size-base * 4;
    }

    &__foot {
        padding-top: $size-base * 4;
        padding-bottom: $size-base * 4;
    }
}