.c-button {
    font-weight: $font-base-semibold;
    padding: rem($size-base * 5) rem($size-base * 8);
    border-radius: $size-base * 2;
    transition: background-color .25s ease-out;
    text-decoration: none;
    display: inline-block;

    &--primary {
        background-color: $color-primary;
        color: $color-white;
        border: 1px solid $color-primary;

        &:hover,
        &:active {
            background-color: $color-white;
            color: $color-primary;
        }
    }
}