.u-min-h-full {
    min-height: 100vh;
}

.u-clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

.u-bg-primary {
    background-color: $color-primary;
}

.u-bg-secondary {
    background-color: $color-secondary;
}

.u-bg-grey1 {
    background-color: $color-grey1;
}

.u-bg-grey2 {
    background-color: $color-grey2;
}

.u-bg-grey3 {
    background-color: $color-grey3;
}

.u-bg-tint1 {
    background-color: $color-tint1;
}

.u-bg-tint2 {
    background-color: $color-tint2;
}

.u-bg-white {
    background-color: $color-white;
}

.u-bg-black {
    background-color: $color-black;
}

.u-text-primary {
    color: $color-primary;
}

.u-text-secondary {
    color: $color-secondary;
}

.u-text-grey1 {
    color: $color-grey1;
}

.u-text-grey2 {
    color: $color-grey2;
}

.u-text-grey3 {
    color: $color-grey3;
}

.u-text-tint1 {
    color: $color-tint1;
}

.u-text-tint2 {
    color: $color-tint2;
}

.u-text-white {
    color: $color-white;
}

.u-text-black {
    color: $color-black;
}